.logo {
  margin: 18px 0px 0px 22px;
}
.cont {
  width: 316px;
  height: 453px;
  margin: 100px 300px;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.list-cont {
  display: flex;
  flex-direction: column;
}
.ulca {
  padding: 0px;
}
.dec {
  margin: 6px 28px 0px 3px;
}
.ssylka {
  text-align: left;
  width: 240px;
  line-height: 11px;
}

li {
  list-style-type: none;
  width: 240px;
  height: 29px;
  display: flex;
  align-items: center;
}
li:hover {
  border-radius: 10px;
  width: 240px;
  height: 29px;
  background-color: #e5e5e5;
}
a {
  text-decoration: none;
  margin: 0px 5px;
  padding: 0px 7px;
  display: flex;
}
a:link {
  font-weight: 600;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  color: #656565;
}
a:visited {
  font-weight: 900;
  color: #656565;
}

a:hover {
  font-weight: bold;
  color: #0090ff;

  text-decoration: underline;
}
a:active {
  width: 250px;
  font-weight: bold;
  color: #006bbe;
}
