body {
  background-color: white;
}

.cont {
  width: 316px;
  height: 453px;

  background: #e5e5e5;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 10px;
}

.ssylka {
  position: absolute;
  width: 250px;
  height: 11px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 104.01%;

  /* or 11px */

  color: #656565;
}
a {
  text-decoration: none;
}
a:visited {
  width: 243px;
  font-weight: 900;
  color: #656565;
}
a:active {
  width: 250px;
  font-weight: bold;
  color: #006bbe;
}

a:hover {
  width: 250px;
  height: 29px;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  color: #0090ff;
  border-radius: 10px;
  background-color: #e5e5e5;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
li {
  list-style-type: none;
}
